# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51TNb3URhwz44aZeQo3UYeVOmMsDhGiqS5lTj6HAdTnGvI9aQR4t9zprVXkXDrNm2sXrmD3LR6KB19D94TU4IXtV200gev8bmH7
STRIPE_SECRET_KEY=dfoiguh3807rtry348tbh38047ty803th1807ty
